footer {
    background-color: var(--footer-bg-color, #c49b63);
  color: #ffffff;
  padding: 60px 80px 20px;
  font-family: "Segoe UI", sans-serif;
}

.footer-top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-brand h2 {
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.footer-brand p {
  color: white;
  line-height: 1.6;
  max-width: 300px;
}

.footer-links h4 {
  margin-bottom: 15px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}

.footer-links ul li:hover {
  color: black;
}

.social li {
  font-weight: 400;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  color: white;
}

h4{
 font-weight: 700;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-top {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-top {
    grid-template-columns: 1fr;
  }
}